* {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Sofia', cursive;
    font-size: 50px;
    color: #CA314A;
}

p{  font-family: 'Crimson Text', serif;
    font-family: 'Itim', cursive;
}

body{
    background-color: #DAD1C3;
    color: #38192F;
}

img{
    width: 400px;
}

/* button and question rules */
.question{
    text-align: center;
    font-family: 'Sofia', cursive;
    font-size: 30px;
}

.centerButton{
    text-align: center;
}

button a{
    color: #38192F;
    font-family: 'Crimson Text', serif;
    font-family: 'Itim', cursive;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.options{
    border: none;
    background-color: #ca314a;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
    background-color:#AAC6C3;
}